.page {
  width: 400px;
  margin: 0 auto;
  padding-top: 30vh;
  font-family: "Dosis", Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #222;
}

.calc {
  padding: 50px;
  background-color: rgba(200, 200, 200, 0.3);
  border-radius: 10px;
  box-shadow: 0 0 3px black;
}
.calc__display {
  width: 190px;
  margin: 0;
  margin-left: auto;
  background-color: rgba(200, 200, 200, 0.3);
  border-radius: 10px;
  height: 50px;
  display: flex;
  flex-direction: column;
  padding: 0 20px 0;
  justify-content: center;
  align-items: flex-end;
  box-shadow: 0 0 3px black;
}

.ungrid {
  position: absolute;
  top: -70px;
  left: 0;
}

.calc__display-above {
  display: block;
  margin: 0;
  font-size: 12px;
}

.calc__display-digits {
  display: block;
  text-align: center;
  font-size: 30px;
  margin: 0;
}

.calc__buttons {
  position: relative;
  display: grid;
  margin: 20px auto 0;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: min-content;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(200, 200, 200, 0.3);
  box-shadow: 0 0 3px black;
}

.calc__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: rgba(200, 200, 200, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.calc__button:hover {
  background-color: rgba(200, 200, 200, 0.4);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.clicked {
  background-color: black;
}

.clicked:hover {
  background-color: black;
}
